In [1]:
import json
import pandas as pd

# Create a dictionary
dict = {}
dict['name'] = 'Cahya'
dict['age'] = 12
dict['city'] = 'Boulder'
dict['type'] = 'Canine'

dict

{'name': 'Cahya', 'age': 12, 'city': 'Boulder', 'type': 'Canine'}

In [2]:
# Convert the dict into a json
json_example = json.dumps(dict, ensure_ascii=False)
json_example

'{"name": "Cahya", "age": 12, "city": "Boulder", "type": "Canine"}'

In [3]:
type(json_example)

str

In [5]:
# Create directly a json
json_sample =  '{ "name":"Chaya", "age":12, "city":"Boulder", "type":"Canine" }'
type(json_sample)

str

In [6]:
# Convert json to dict
data_sample = json.loads(json_sample)
type(data_sample)

dict

In [7]:
# Create a DataFrame from the dictionary
df = pd.DataFrame.from_dict(data_sample, orient='index')
df

            0
name    Chaya
age        12
city  Boulder
type   Canine

In [8]:
# Convert a dt to json
sample_json = df.to_json(orient='split')
type(sample_json)

str